.action-btn {
}
.border-light-top {
    border-top: 1px solid #eee;
}

.border-light-bottom {
    border-bottom: 1px solid #eee;
}

.p-card-body {
    padding: 0rem !important;
}

.pi-time-blue {
    color: blue;
}

.p-card .p-card-body {
    padding-bottom: 0px;
}
